<div class="container d-flex flex-column col-12 col-md-10 col-lg-3 mt-5  border p-5 shadow-lg">

  <div class="container-fluid d-flex  flex-column">
    <div class="mb-3">
      <label for="username" class="form-label"> Username :</label>
      <input type="text" name="username" id="username" class="form-control" placeholder="name@example.com" [(ngModel)]="username"/>
    </div>
    <div class="mb-3">
    <label for="password" class="form-label">

      Password :
    </label>
    <input type="password" name="password" id="password" class="form-control" placeholder="******" [(ngModel)]="password"/>
    </div>
  </div>
  <button (click)="checkLogin()" class="btn btn-success mt-3 w-50 w-lg-25 ml-auto">
    Login
  </button>
</div>
